{% extends 'base.html.twig' %}

{% block title %}
  Info Page
{% endblock %}

{% block body%}
  <li>Id: {{id}}</li>
  <li>Long link: {{original_link}} </li>
  <li>Short Link: {{short_link}} </li>
{% endblock%}
